.nav-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background-color: #000000;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.security-image {
  height: 50px;
  width: 160px;
  background-color: transparent;
  color: transparent;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger-icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-right: 30px;
  font-family: 'Roboto';
  padding-left: 0px;
}

.link-element {
  text-decoration: none;
  color: #ffffff;
}

.icon {
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin-right: 7px;
  border: 1px solid #ffffff;
  padding-top: 7px;
  padding-left: 12px;
  padding-bottom: 7px;
  padding-right: 12px;
}

.list-item {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  margin-right: 10px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  margin-left: 20px;
}
