.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login {
  padding: 40px;
  border-radius: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 300px;
  box-shadow: 4px 9px 9px 10px #ffffff;
  height: 400px;
  justify-content: center;
}
.form-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.finger {
  color: #34e1eb;
  height: 65px;
  width: 65px;
}
.label-element {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
  margin-top: 20px;
}
.input-element {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid #2de888;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  padding-left: 7px;
}
.button {
  background-color: #34e1eb;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  border-width: 0px;
}
.error {
  color: red;
  font-size: 12px;
  font-family: 'Roboto';
}
.link-element {
  border-width: 0px;
}
